* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    color: #2c3e50;
}

.navbar{
    
    background-color:#2c3e50;
    min-height: 60vh;
    color: white;
}

a { 
    color: white;
}