<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Compatibility Scores</h2>
    <table border="1">
    <tr>
        <th>Student 1</th>
        <th>Student 2</th>
        <th>Score</th>
        <th>Date</th>
    </tr>
    {% for row in scores %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>