<!DOCTYPE html>
    <html>
    <head>
        <title>Student Dashboard</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="container mt-5">
            <h2 class="mb-4">Student Dashboard</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card shadow">
                        <div class="card-header fw-bold">Basic Information</div>
                        <div class="card-body">
                            <p><strong>Name:</strong> {{ student.name }}</p>
                            <p><strong>Department:</strong> {{ student.department }}</p>
                            <p><strong>Year:</strong> {{ student.year }}</p>
                            <p><strong>Hostel:</strong> {{ student.hostel_name }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="card shadow">
                        <div class="card-header fw-bold">Lifestyle Preferences</div>
                        <div class="card-body">
                            <span class="badge bg-primary">Sleep: {{ preferences.sleep_time }}</span><br><br>
                            <span class="badge bg-success">Study: {{ preferences.study_style }}</span><br><br>
                            <span class="badge bg-warning text-dark">Cleanliness: {{ preferences.cleanliness_level }}</span><br><br>
                            <span class="badge bg-info text-dark">Noise: {{ preferences.noise_tolerance }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/update_preferences" method="GET">
                <button type="submit" class="btn btn-primary btn-sm mt-3">Update Preferences</button>
            </form>
            <a href="/" class="btn btn-outline-dark mt-3">⬅ Home</a>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
